{% extends 'base.html' %}

{% load humanize %}

{% block content %}
<h1>Home</h1>
<!--Showcase-->
<section>
    <!-- Form -->
    <form action="{% url 'search' %}">
        <div>
            <label>Keywords</label>
            <input type="text" name="keywords" class="form-control" placeholder="Keyword">
        </div>
    <div>
        <label> State </label>
        <select name="bedrooms" class="form-control">
            <option selected="true" disabled="disabled">Bedrooms (All)</option>
            {% for key, value in bedroom_choices.items %}
            <option value="{{ key }}">{{ value }}</option>
            {% endfor %}
        </select>
        <select name="state" class="form-control">
            <option selected="true" disabled="disabled">State (All)</option>
            {% for key, value in state_choices.items %}
            <option value="{{ key }}"> {{ value }}</option>
            {% endfor %}
        </select>
    </div>
    <button class="btn btn-secondary btn-block mt-4" type="submit"> Submit form</button>
</form>
    <div>
        {% if listings %}
        {% for listing in listings %}

        <h4> {{ listing.title }}</h4>
        <img src="{{ listing.photo_main.url }}">
        <span>${{ listing.price | intcomma }}</span>
        <p>Address: {{ listing.city}} {{ listing.state}}, {{ listing.zipcode}}</p>
        <div>SQFT: {{ listing.sqft}}</div>
        <div>Garage: {{ listing.garage}}</div>
        <div>Bedrooms: {{ listing.bedrooms}}</div>
        <div>Bathrooms: {{ listing.bathrooms}}</div>
        <div>Realtor: {{ listing.realtor }}</div>
        <div>{{ listing.list_date | timesince }}</div>
        <a href="{% url 'listing' listing.id %}">More Info</a>
        {% endfor %}

        {% else %}
        <div class="col-md-12">
            <p>No Listings available</p>
        </div>
        {% endif %}
    </div>

    <!-- Alerts -->
    {% include 'partials/_alert.html' %}
    
{% endblock %}