{% extends 'base.html' %}

{% load humanize %}

{% block content %}
<h1>Listings</h1>
<section>
    <div>
        <a href="{% url 'index' %}">Home</a>
    </div>
</section>

<!-- Listing 1 and Loop -->
<section>
    <div>
        {% if listings %}
        {% for listing in listings %}

        <div> Go </div>
        <h4> {{ listing.title }}</h4>
        <img src="{{ listing.photo_main.url }}">
        <span>{{ listing.price | intcomma }}</span>
        <p>Address: {{ listing.city}} {{ listing.state}}, {{ listing.zipcode}}</p>
        <div>SQFT: {{ listing.sqft}}</div>
        <div>Garage: {{ listing.garage}}</div>
        <div>Bedrooms: {{ listing.bedrooms}}</div>
        <div>Bathrooms: {{ listing.bathrooms}}</div>
        <div>Realtor: {{ listing.realtor }}</div>
        <div>{{ listing.list_date | timesince }}</div>
        <a href="{% url 'listing' listing.id %}">More Info</a>
        {% endfor %}

        {% else %}
        <div class="col-md-12">
            <p>No Listings available</p>
        </div>
        {% endif %}
    </div>

    <nav aria-label="...">
        {% if listings.has_other_pages %}
            <ul class="pagination">
            {% if listings.has_previous %}
            <li class="page-item">
                <a href="?page={{listings.previous_page_number}}" class="page-link">&laquo;</a>
            </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link">&laquo;</a>
                </li>
            {% endif %}
            {% for i in listings.paginator.page_range %}
                {% if listings.number == i %}
                    <li class="page-item active">
                        <a class="page-link">{{i}}</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a href="?page={{i}}" class="page-link">{{i}}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if listings.has_next %}
            <li class="page-item">
                <a href="?page={{listings.next_page_number}}" class="page-link">&raquo;</a>
            </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link">&raquo;</a>
                </li>
            {% endif %}
            </ul>
            {% endif %}
      </nav>

</section>
{% endblock %}